.contact__container{
    background-color: var(--main-color-light);
    padding-top: 1rem;
}
.contact__title{
    text-align: center;
    margin-top: 1rem;
}
.contact__p{
    text-align: center;
   
}
.contact__content{
    text-align: center;
    margin-top: 2rem;
}
.contact__input input{
    padding: .5rem;
    font-size: 1rem;
    border: 2px solid var(--main-color);
    border-radius: .5rem 0 0 .5rem;
}
.contact__btn{
    padding: .5rem;
    font-size: 1rem;
    border: 2px solid var(--main-color);
    border-radius: 0 .5rem .5rem 0;

}

.contact__btn:hover{
    background-color: var(--dark-blue);
    border: 2px solid var(--light-blue);
    scale: 1.1;
    color: #fff;
}
.contact__description{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    padding-bottom: 2rem;
}

@media screen and (max-width:550px){

    .contact__input input{
        padding: .5rem;
        font-size: .7rem;
        border: 2px solid var(--main-color);
        border-radius: .3rem 0 0 .3rem;
    }
    .contact__btn{
        padding: .5rem;
        font-size: .7rem;
        border: 2px solid var(--main-color);
        border-radius: 0 .3rem .3rem 0;
    
    }
    .contact__content{
        margin-top: .5rem;
    }
    .contact__description{
        font-size: .8rem;
    }
    
}

